* {
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-top: 10px;
}

#main {
  background-color: rgb(233, 232, 232);
  border-radius: 10px;
}

#image {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  margin: 0 auto;
}

ul li {
  display: flex;
  align-items: flex-star;
  margin-bottom: 1em;
}

li span {
  width: 80px;             
  font-weight: bold;
  flex-shrink: 0;         
  text-align: left;      
  margin-right: 1em; 
}

li p {
  flex: 1;                 
  line-height: 1.4;
}

#footer {
  font-size: 20px;
  font-weight: bold;
  color: rgb(59, 59, 59);
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  color: rgb(1, 104, 6);
  transition: 0.5s;
}