body {
    background-color: rgb(7, 37, 28);
    font-family: cascadia code;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.todo-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.todo-list > li {
    background-color: rgb(4, 233, 183);
    padding-top: 15px;
    padding-bottom: 45px;
    padding-left: 30px;
    margin-bottom: 20px;
    border: 1px;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.list {
    width: 80%;
    background-color: rgb(27, 134, 196);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 500px;
    padding: 20px;
    border: 1px solid rgb(27, 134, 196);
    border-radius: 15px 15px 15px 15px;
}

.sub-item {
    list-style-type: square;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: rgb(194, 0, 0);
}

a:visited {
    color:rgb(56, 1, 160);
}

a:hover {
    color:chocolate;
}

a:active {
    color:rgb(0, 0, 0);

}

a:focus {
    outline: 2px solid orange;
}