body {
  background-color: rgb(184, 255, 255);
}

#playing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
  font-family: "Georgia", serif;
}

.card {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  max-width: 250px;
  height: 350px;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 16px 8px;
  font-size: 30px;
  text-align: center;
}

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 80px;
}

.right{
  align-self: flex-end;
}

.flipped {
  transform: rotate(180deg);
}

.red {
  color: red;
}