*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.space {
  width: 200px;
  height: 200px;
  position: relative;
}

.earth {
  position: absolute;
  background-color: blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px 0 blue;
}

.orbit {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}

.moon {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgb(173, 173, 173);
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 15px 0 lightgray;
  animation: moon 5s linear infinite;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%)
  }

  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

@keyframes moon {
  0% {
    background: lightgray;
    box-shadow: 0 0 15px 0 lightgray;
  }

  50% {
    background: yellow;
    box-shadow: 0 0 15px 0 yellow;
  }

  100% {
    background: lightgray;
    box-shadow: 0 0 15px 0 lightgray;
  }
}